---
---

//
// IMPORTS
//

@import "reset";

/*basic elements*/
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

body {
    margin: 0em;
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: 300;
    line-height: 120%;
    font-size: 100%;
}

.metadata {
    // display: none;
}

#side_menu {
    position:fixed;
    z-index: 999999;
}

.grid-item { width: 300px; }
.grid-item img { width: 95%; }
@import "highlights";
@import "svg-icons";
