---
---
//
// IMPORTS
//

@import url('./reset.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
}

#contents {
  padding: 1em;
}

ul, ol, menu {
  padding-left: 1em;
}

ul > li {
  margin: 0.5em 0;
}

.nav-bar {
  margin: 2em -0.5em;
  .item {
    display: inline-block;
    margin: 0 0.5em;
  }
}

#post-list {

  .item-header p {
    margin: 0.1em 0;
  }

  .label {
    font-weight: bolder;
  }

  .works-item {
    margin: 2em 0;
  }

  .works {
    margin: 3em 0;
  }

  .item-body {
    margin-left: 1em;
  }

  .works-type {
    text-transform: capitalize;
  }
}
