---
---

//
// IMPORTS
//

@import "reset";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

.font-big {
    font-size: 1.5em
};

/*basic elements*/
body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;

    a {
        color: black;
        text-decoration: underline;
        text-decoration-color: black;
        text-decoration-style: dashed;

        &:hover {
            color: white;
            background-color: black;
        }
    }
}

.toHidden {
    visibility: hidden;
    display: none;
}

#post-list {
    margin-top: 2em;
}

#contents {
    #post-list {

        .metadata {
            margin-bottom: 1em;

            li {
                display:inline-block;
                background-color: white;

            }

            .categories {
                text-transform: capitalize;
                font-weight: 600;
                font-style: italic;
            }
        }

    }

    .gallery {
        img {
            width: 100%;
        }

        .gallery-item {
        }
    }
}

@import "highlights";
@import "svg-icons";
