<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    {% if page.excerpt %}
        <meta name="description" content="{{ page.excerpt| strip_html }}" />
        <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
        <meta name="description" content="{{ site.description }}">
        <meta property="og:description" content="{{ site.description }}" />
    {% endif %}

    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% assign assets = {{ site.baseurl | append: '/assets' }} %}

    <script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ assets }}/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ assets }}/scripts_header.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    <script type="text/javascript">
        var site_base_url = "{{ site.baseurl }}";
    </script>

</head>
