<!--
    scripts and stylesheets
 -->

<!-- jquery -->
<script src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<!-- bootstrap -->
<script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/masonry.pkgd.min.js"></script>



<!-- custom scripts -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/scripts.js"></script>

<!-- bootstrap.css -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css">

<!-- custom stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

<!-- fullpage -->

<!-- custom script -->
