<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title></title>

    <link href="reset.css" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="assets/js/head-scripts.js"></script>

    <!-- slick gallery -->
    <link rel="stylesheet" type="text/css" href="assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="assets/slick/slick-theme.css"/>
</head>

<body>

    <article class="front">
        <div class="posts">
            <div class="work-portfolio row-spanX4 front-page">
                <ol>
                    <!-- {% for post in site.posts %}
                      <li><h1 class="upcase"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1></li>
                    {% endfor %} -->
                    <li><h1 class="upcase"><a href="#walktogether">2015 WALK TOGETHER CAMPAIGN, WALK TOGETHER WITH FRIENDS</a></h1></li>
                    <li><h1 class="upcase"><a href="#daflogvol0">DAFLOG VOL.0</a></h1></li>
                    <li><h1 class="upcase"><a href="#artshop21logo">ARTSHOP 21 LOGOTYPE</a></h1></li>
                    <li><h1 class="upcase"><a href="#artshop21poster">ARTSHOP 21 PROMOTION POSTER</a></h1></li>
                    <li><h1 class="upcase"><a href="#daflog1">DAFLOG VOL.1</a></h1></li>
                    <li><h1 class="upcase"><a href="#achapters001video">소년과 아이와 바다와 그 밖에 모든 호의에 관한 이야기들</h1> <h1>TEASER VIDEO</a></h1></li>
                    <li><h1 class="upcase"><a href="#handoutlogo">HAND-OUT LOGOTYPE</a></h1></li>
                    <li><h1 class="upcase"><a href="#gtszlogo">GTSZ.RCP LOGOTYPE</a></h1></li>
                    <li><h1 class="upcase"><a href="#achapters001book">소년과 아이와 바다와 그 밖에 모든 호의에 관한 이야기들</a></h1></li>
                    <li><h1 class="upcase"><a href="#sampler001">벽장 속의 드래곤</a></h1></li>
                    <li><h1 class="upcase"><a href="#diafposter">2014 DAEJEON INTERNATIONAL ART FREEMARKET FESTA</a></h1></li>
                    <li><h1 class="upcase"><a href="#cinemamujinvideo">CINEMA MUJIN TEASER VIDEO</a></h1></li>
                    <li><h1 class="upcase"><a href="#noisegarden">어떤 부정의 음악 NOISE GARDEN, CHOI JOONYONG, HONG CHULKI LIVE VIDEO</a></h1></li>
                </ol>
            </div>

            <div class="work-information footer row-spanX1">
                <div class="work-title col-spanX2">
                    <!-- <h1>{{ site.name }}</h1> -->
                    <h1>Seung-hae KIM</h1>
                </div>

                <div class="work-metadata col-spanX1">
                    <ul>
                        <li><span class="upcase strong">LIVE VIDEO</span></li>
                        <li><span class="upcase strong">POSTER DESIGN</span></li>
                        <li><span class="upcase strong">BOOK DESIGN</span></li>
                        <li><span class="upcase strong">LOGO DESIGN</span></li>
                        <li><span class="upcase strong">VIDEO</span></li>
                        <!-- {% for cat in site.categories %}
                        <li><span class="upcase strong">{{ cat[0] }}</span></li>
                        {% endfor %} -->
                    </ul>
                </div>

                <div class="work-material col-spanX1">
                    <ul>
                        <!-- {% for tool in site.tools %} {{ tool | first }} {% endfor %} -->
                    </ul>
                </div>

                <div class="work-external col-spanX1">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
        </div>
    </article>

    <article class="post video">
        <div class="work-portfolio row-spanX4">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/B8sdEizB9Kw" frameborder="0" allowfullscreen=""></iframe>
        </div>

        <div class="work-information footer row-spanX1">

            <div class="work-title col-spanX2">
                <h1><a name="walktogether">2015 walk together campaign, walk together with friends</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Video</span></li>
                    <li><span class="upcase strong">ROLL: </span>Video edit, bgm remix</li>
                    <li><span class="upcase strong">DATE: </span>October, 2015</li>
                    <li><span class="upcase strong">CLIENT: </span>Gtsz.rcp</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">size:</span> 1280×1080, 600×600(for instagram)</li>
                    <li><span class="upcase strong">duration:</span> 35s, 15s (for instagram)</li>
                    <li><span class="upcase strong">Frame rate:</span> 29.9</li>
                    <li><span class="upcase strong">color:</span> color</li>
                    <li><span class="upcase strong">tools:</span> Adobe premiere pro cs6, adobe after effect cs6, adobe photoshop cs6, adobe illustrator cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>
                    <li><span class="upcase strong">external links: </span><a href="https://www.youtube.com/watch?v=B8sdEizB9Kw">https://www.youtube.com/watch?v=B8sdEizB9Kw</a></li>
                </ul>
            </div>
        </div>
    </article>

    <article class="post gallery">
        <div class="work-portfolio row-spanX4">
            <div class="gallery-contents">
                <div><img src="http://i.imgur.com/Y4C0Aq7.jpg"></div>
                <div><img src="http://i.imgur.com/UHIqEZX.gif"></div>
                <div><img src="http://i.imgur.com/Ba3yMT4.jpg"></div>
                <div><img src="http://i.imgur.com/iODFXKV.jpg"></div>
            </div>
        </div>

        <div class="work-information footer row-spanX1">
            <div class="work-title col-spanX2">
                <h1><a name="daflogvol0">DAFLOG VOL.0</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Book design</span></li>
                    <li><span class="upcase strong">ROLL: </span>Photography, retouching, write, edit, design</li>
                    <li><span class="upcase strong">DATE: </span>August, 2015</li>
                    <li><span class="upcase strong">co-work: </span>대전 문화협동조합</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">size:</span> A4, 44 pages</li>
                    <li><span class="upcase strong">color:</span> CMYK</li>
                    <li><span class="upcase strong">binding:</span> saddle-stitching</li>
                    <li><span class="upcase strong">tools:</span> Adobe photoshop cs6, adobe lightroom cc, adobe illustrator cs6, adobe indesign cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>

                </ul>
            </div>
        </div>
    </article>

    <article class="post gallery">
        <div class="work-portfolio row-spanX4">
            <div class="gallery-contents">
                <div><img src="http://i.imgur.com/DG6LTQK.jpg"></div>
                <div><img src="http://i.imgur.com/3VPvsrL.jpg"></div>
                <div><img src="http://i.imgur.com/2yWaU9x.jpg"></div>
                <div><img src="http://i.imgur.com/fIIQBOd.png"></div>
            </div>
        </div>

        <div class="work-information footer row-spanX1">
            <div class="work-title col-spanX2">
                <h1><a name="artshop21logo">Artshop 21 Logotype</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Logo design</span></li>
                    <li><span class="upcase strong">DATE: </span>July, 2015</li>
                    <li><span class="upcase strong">CLIENT: </span>아트샵 이십일</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">color:</span> Black and White</li>
                    <li><span class="upcase strong">tools:</span> Adobe illustrator cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>
                </ul>
            </div>
        </div>
    </article>

    <article class="post gallery">
        <div class="work-portfolio row-spanX4">
            <div class="gallery-contents">
                <div><img src="http://i.imgur.com/UPBRN9Y.jpg"></div>
                <div><img src="http://i.imgur.com/ciMXpG3.jpg"></div>
                <div><img src="http://i.imgur.com/t8MSLuL.jpg"></div>
                <div><img src="http://i.imgur.com/29XROgP.jpg"></div>
            </div>
        </div>

        <div class="work-information footer row-spanX1">
            <div class="work-title col-spanX2">
                <h1><a name="artshop21poster">Artshop 21 Promotion Poster</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Poster design</span></li>
                    <li><span class="upcase strong">DATE: </span>July, 2015</li>
                    <li><span class="upcase strong">CLIENT: </span>아트샵 이십일</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">size:</span> A2, a4</li>
                    <li><span class="upcase strong">color:</span> CMYK</li>
                    <li><span class="upcase strong">tools:</span> Adobe illustrator cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>

                </ul>
            </div>
        </div>
    </article>

    <article class="post gallery">
        <div class="work-portfolio row-spanX4">
            <div class="gallery-contents">
                <div><img src="http://i.imgur.com/X311MzS.jpg"></div>
                <div><img src="http://i.imgur.com/3EJIpUu.jpg"></div>
                <div><img src="http://i.imgur.com/KzasYMb.jpg"></div>
                <div><img src="http://i.imgur.com/cFhoObb.jpg"></div>
            </div>
        </div>

        <div class="work-information footer row-spanX1">
            <div class="work-title col-spanX2">
                <h1><a name="daflog1">DAFLOG VOL.1</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Book design</span></li>
                    <li><span class="upcase strong">ROLL: </span>Photography, retouching, write, edit, design</li>
                    <li><span class="upcase strong">DATE: </span>June, 2015</li>
                    <li><span class="upcase strong">co-work: </span>대전 문화협동조합</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">size:</span> A4 , 24 pages</li>
                    <li><span class="upcase strong">color:</span> CMYK</li>
                    <li><span class="upcase strong">binding:</span> saddle-stitching</li>
                    <li><span class="upcase strong">tools:</span> Adobe photoshop cs6, adobe lightroom cc, adobe illustrator cs6, adobe indesign cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>
                </ul>
            </div>
        </div>
    </article>

    <article class="post video">
        <div class="work-portfolio row-spanX4">
            <iframe src="https://player.vimeo.com/video/111107307?byline=0&amp;title=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>

        <div class="work-information footer row-spanX1">
            <div class="work-title col-spanX2">
                <h1><a name="achapters001video">『소년과 아이와 바다와 그 밖에 모든 호의에 관한 이야기들』 Teaser Video</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Video</span></li>
                    <li><span class="upcase strong">ROLL: </span>Video footage edit, graphic element design, bgm remix</li>
                    <li><span class="upcase strong">DATE: </span>November, 2014</li>
                    <li><span class="upcase strong">CLIENT: </span>Gtsz.rcp</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">size:</span> 1080×720</li>
                    <li><span class="upcase strong">duration:</span> 30s</li>
                    <li><span class="upcase strong">Frame rate:</span> 23.976</li>
                    <li><span class="upcase strong">color:</span> color</li>
                    <li><span class="upcase strong">tools:</span> Adobe premiere pro cs6, adobe after effect cs6, adobe photoshop cs6, adobe illustrator cs6, adobe aution cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>
                    <li><span class="upcase strong">external links: </span><a href="https://vimeo.com/111107307">https://vimeo.com/111107307</a></li>
                </ul>
            </div>
        </div>
    </article>

    <article class="post gallery">
        <div class="work-portfolio row-spanX4">
            <div class="gallery-contents">
                <div><img src="http://i.imgur.com/3njmno7.png" alt=""></div>
                <div><img src="http://theawesomedaily.com/wp-content/uploads/2016/03/yBoruia.jpg" alt=""></div>
                <div><img src="http://img.phombo.com/img1/photocombo/2209/cache/odd-haircuts13_display.jpg" alt=""></div>
                <div><img src="http://theawesomedaily.com/wp-content/uploads/2016/03/uOthoTz.jpg" alt=""></div>
            </div>
        </div>

        <div class="work-information footer row-spanX1">
            <div class="work-title col-spanX2">
                <h1><a name="handoutlogo">hand-out logotype</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Logo design</span></li>
                    <li><span class="upcase strong">DATE: </span>October, 2014</li>
                    <li><span class="upcase strong">CLIENT: </span>Hand-out</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">color:</span> Black and White</li>
                    <li><span class="upcase strong">tools:</span> Adobe illustrator cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>
                </ul>
            </div>
        </div>
    </article>

    <article class="post gallery">
        <div class="work-portfolio row-spanX4">
            <div class="gallery-contents">
                <div><img src="http://i.imgur.com/l7Ji2OF.jpg"></div>
                <div><img src="http://i.imgur.com/ONlt63M.jpg"></div>
                <div><img src="http://i.imgur.com/dR5SRhm.png"></div>
                <div><img src="http://i.imgur.com/lnLRNhc.jpg"></div>
            </div>
        </div>

        <div class="work-information footer row-spanX1">
            <div class="work-title col-spanX2">
                <h1><a name="gtszlogo">gtsz.rcp logotype</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Logo design</span></li>
                    <li><span class="upcase strong">DATE: </span>October, 2014</li>
                    <li><span class="upcase strong">CLIENT: </span>Gtsz.rcp</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">color:</span> Black and White</li>
                    <li><span class="upcase strong">tools:</span> Adobe illustrator cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>
                </ul>
            </div>
        </div>
    </article>

    <article class="post gallery">
        <div class="work-portfolio row-spanX4">
            <div class="gallery-contents">
                <div><img src="http://i.imgur.com/QMYCgfC.gif"></div>
                <div><img src="http://i.imgur.com/2vwwdml.jpg"></div>
                <div><img src="http://i.imgur.com/cuMhlkn.jpg"></div>
                <div><img src="http://i.imgur.com/ZrzsoLK.png"></div>
            </div>
        </div>

        <div class="work-information footer row-spanX1">
            <div class="work-title col-spanX2">
                <h1><a name="achapters001book">소년과 아이와 바다와 그 밖에 모든 호의에 관한 이야기들</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Book design</span></li>
                    <li><span class="upcase strong">ROLL: </span>Write, edit, design, publishing</li>
                    <li><span class="upcase strong">DATE: </span>October, 2014</li>
                    <li><span class="upcase strong">CLIENT: </span>Gtsz.rcp</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">size:</span> A5 , 48 pages</li>
                    <li><span class="upcase strong">color:</span> grayscale</li>
                    <li><span class="upcase strong">binding:</span> saddle-stitching</li>
                    <li><span class="upcase strong">tools:</span> Adobe photoshop cs6, adobe illustrator cs6, adobe indesign cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>

                </ul>
            </div>
        </div>
    </article>

    <article class="post gallery">
        <div class="work-portfolio row-spanX4">
            <div class="gallery-contents">
                <div><img src="http://i.imgur.com/MoZvKW6.jpg"></div>
                <div><img src="http://i.imgur.com/kwFMBz6.jpg"></div>
                <div><img src="http://i.imgur.com/E5IohdT.jpg"></div>
                <div><img src="http://i.imgur.com/LT71UOT.jpg"></div>
            </div>
        </div>

        <div class="work-information footer row-spanX1">

            <div class="work-title col-spanX2">
                <h1><a name="sampler001">벽장 속의 드래곤</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Book design</span></li>
                    <li><span class="upcase strong">ROLL: </span>Write, edit, design</li>
                    <li><span class="upcase strong">DATE: </span>October, 2014</li>
                    <li><span class="upcase strong">CLIENT: </span>Gtsz.rcp</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">size:</span> A5 , 4 pages</li>
                    <li><span class="upcase strong">color:</span> grayscale</li>
                    <li><span class="upcase strong">binding:</span> bi-fold</li>
                    <li><span class="upcase strong">tools:</span> Adobe photoshop cs6, adobe illustrator cs6, adobe indesign cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>

                </ul>
            </div>
        </div>
    </article>

    <article class="post gallery">
        <div class="work-portfolio row-spanX4">
            <div class="gallery-contents">
                <div><img src="http://i.imgur.com/OwEp9wt.jpg"></div>
                <div><img src="http://i.imgur.com/uCgwONJ.png"></div>
                <div><img src="http://i.imgur.com/N4G0uvw.jpg"></div>
                <div><img src="http://i.imgur.com/NhnpCak.jpg"></div>
            </div>
        </div>

        <div class="work-information footer row-spanX1">

            <div class="work-title col-spanX2">
                <h1><a name="diafposter">2014 Daejeon International Art Freemarket Festa</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Poster design</span></li>
                    <li><span class="upcase strong">DATE: </span>September, 2014</li>
                    <li><span class="upcase strong">co-work: </span>대전 문화협동조합</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">size:</span> A2</li>
                    <li><span class="upcase strong">color:</span> CMYK</li>
                    <li><span class="upcase strong">tools:</span> Adobe photoshop cs6, adobe illustrator cs6, adobe indesign cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>
                </ul>
            </div>
        </div>
    </article>

    <article class="post gallery">
        <div class="work-portfolio row-spanX4">
            <div class="gallery-contents">
                <div><img src="http://i.imgur.com/GX0UOzO.jpg"></div>
                <div><img src="http://i.imgur.com/Uso69Np.jpg"></div>
                <div><img src="http://i.imgur.com/966XDzW.jpg"></div>
                <div><img src="http://i.imgur.com/966XDzW.jpg"></div>
            </div>
        </div>

        <div class="work-information footer row-spanX1">
            <div class="work-title col-spanX2">
                <h1><a name="cinemamujinvideo">cinema mujin teaser video</a></h1>
            </div>

            <div class="work-metadata col-spanX1">
                <ul>
                    <li><span class="upcase strong">Live video</span></li>
                    <li><span class="upcase strong">ROLL: </span>Video footage edit, graphic element design, bgm remix</li>
                    <li><span class="upcase strong">DATE: </span>July, 2013</li>
                    <li><span class="upcase strong">CLIENT: </span>Artspace donquixote</li>
                </ul>
            </div>

            <div class="work-material col-spanX1">
                <ul>
                    <li><span class="upcase strong">size:</span> 1920×1080</li>
                    <li><span class="upcase strong">duration:</span> 1m 30s</li>
                    <li><span class="upcase strong">Frame rate:</span> 29.97</li>
                    <li><span class="upcase strong">color:</span> color</li>
                    <li><span class="upcase strong">tools:</span> Adobe premiere pro cs6, adobe photoshop cs6, adobe illustrator cs6, adobe aution cs6</li>
                </ul>
            </div>

            <div class="work-external col-spanX1">
                <ul>
                </ul>
            </div>
        </div>
    </article>

    <article class="post video">
        <div class="posts">
            <div class="work-portfolio row-spanX4">
                <iframe src="https://player.vimeo.com/video/68992646?byline=0&amp;title=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>

            <div class="work-information footer row-spanX1">
                <div class="work-title col-spanX2">
                    <!-- <h1>{{ site.name }}</h1> -->
                    <h1><a name="noisegarden">어떤 부정의 음악 NOise garden, Choi Joonyong, Hong Chulki LIVE VIDEO</a></h1>
                        </div>
                        <div class="work-metadata col-spanX1">
                            <ul>
                                <li><span class="upcase strong">Live video</span></li>
                                <li><span class="upcase strong">ROLL: </span>2 camera operating, video edit, sound mastering</li>
                                <li><span class="upcase strong">DATE: </span>May, 2013</li>
                                <li><span class="upcase strong">CLIENT: </span>Artspace donquixote</li>
                            </ul>
                        </div>

                        <div class="work-material col-spanX1">
                            <ul>
                                <li><span class="upcase strong">size:</span> 1280×720</li>
                                <li><span class="upcase strong">duration:</span> 58m 10s</li>
                                <li><span class="upcase strong">Frame rate:</span> 29.97 fps</li>
                                <li><span class="upcase strong">color:</span> color</li>
                                <li><span class="upcase strong">tools:</span> Adobe premiere pro cs6, adobe illustrator cs6, adobe aution cs6</li>
                            </ul>
                        </div>

                        <div class="work-external col-spanX1">
                            <ul>
                                <li><span class="upcase strong">external links: </span><a href="https://vimeo.com/68992646">https://vimeo.com/68992646</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>

<!-- slick gallery code -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.migrate/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/slick/slick.min.js"></script>
<script src="assets/js/foot-scripts.js"></script>

</body>

</html>
