<!DOCTYPE html>
<html>
    {% include head.html%}

    <body>
        <div id="contents" class="container-fluid">
            <div class="nav-bar site-information">
                <div class="item">
                    <h1 class="site-title">
                        <a href="{{ site.url }}">{{ site.name }}</a>
                    </h1>
                </div>
                <div class="item">
                    {{ site.description }}
                </div>
                <div class="item">
                    <a href="{{ site.footer-links.github }}">github</a>
                </div>
            </div>
            {{ content }}
        </div>
        {% include analytics.html %}
    </body>
</html>
