---
layout: default
---

<article class="post">
<div class="work-portfolio">
  {% if page.external contains "vimeo" %}
    {% assign vimeolink = page.external | split:"/" %}
    <iframe src="{{ vimeolink[0] }}//player.{{ vimeolink[1] }}{{ vimeolink[2] }}/video/{{ vimeolink[3] }}?byline=0&title=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  {% endif %}

  {% if page.external contains "youtube" %}
    {% assign youtubeLink = page.external | split:"=" %}
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ youtubeLink[1] }}" frameborder="0" allowfullscreen></iframe>
  {% endif %}

  {% if page.features %}
    {% assign num=page.features.size %}
      {% for i in (0..num)) %}
        <img src="{{ site.baseurl }}/{{ page.features[i] }}" />
      {% endfor %}
  {% endif %}
</div>

<div class="work-information">
  <div class="work-title">
    <h1>{{ page.title }}</h1>
  </div>

  <div class="work-metadata">
    <ul>
      {% if page.categories %}
        <li><strong class="upcase">{{ page.categories | join: ", " | capitalize }}</strong></li>
      {% endif %}

      {% if page.roll %}
        <li><strong class="upcase">ROLL: </strong>{{ page.roll | join: ", " | capitalize }}</li>
      {% endif %}

      {% if page.date %}
        <li><strong class="upcase">DATE: </strong>{{ page.date | date: "%B, %Y" }}</li>
      {% endif %}

      {% if page.client %}
        <li><STRONG class="upcase">CLIENT: </STRONG>{{ page.client | join: ", " | capitalize }}</li>
      {% endif %}

      {% if page.co-work %}
        <li><STRONG class="upcase">co-work: </STRONG>{{ page.co-work | join: ", " | capitalize }}</li>
      {% endif %}
    </ul>
  </div>

  <div class="work-material">
    <ul>
      {% if page.size %}
      <li><strong class="upcase">size:</strong> {{ page.size  | join: ", " | capitalize }}
        {% if page.amount %}
        , {{ page.amount }} pages
        {% endif %}
      </li>
      {% endif %}

      {% if page.duration %}
      <li><strong class="upcase">duration:</strong> {{ page.duration  | join: ", " | capitalize }}</li>
      {% endif %}

      {% if page.frame-rate %}
      <li><strong class="upcase">Frame rate:</strong> {{ page.frame-rate  | join: ", " | capitalize }}</li>
      {% endif %}

      {% if page.color %}
      <li><strong class="upcase">color:</strong> {{ page.color | join: ", " }}</li>
      {% endif %}

      {% if page.binding %}
      <li><strong class="upcase">binding:</strong> {{ page.binding }}</li>
      {% endif %}

      {% if page.tool %}
      <li><strong class="upcase">tool:</strong> {{ page.tool | join: ", " | capitalize }}</li>
      {% endif %}
    </ul>
  </div>

  <div class="work-external">
    <ul>
      {% if page.external %}
      <li><strong class="upcase">external links: </strong><a href="{{ page.external }}">{{ page.external }}</a></li>
      {% endif %}
    </ul>
  </div>
</div>


</article>
