---
layout: default
---
<div id="post-content" class="container-fluid --trim-padding">

    {% assign postid = page.title | downcase | replace: ' ', '-' | replace: '.', '' | replace: ',', '' %}

    <!-- 비메오 링크일 경우 -->


    <!-- 유투브 링크일 경우 -->
    <!-- {% if page.external contains "youtube" %}
    {% assign youtubeLink = page.external | split:"=" %}
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ youtubeLink[1] }}" frameborder="0" allowfullscreen></iframe>
    {% endif %} -->
    <div class="metadata col-lg-3 col-md-3 --trim-padding">
        <ul>
            <li class="pagetitle"><h1><a href="{{ page.url }}"><span class="pagetitle">{{ page.title }} </span><span class="categories">{{ page.categories | join: ", " }}</span></a></h1></li>
        </ul>

        <ul class="basic-information">
            {% if page.roll %}
            <li class="roll">
                <span class="label">roll</span> <span class="desc">{{ page.roll | join: ", " }}</span>
            </li>
            {% endif %}

            {% if page.date %}
            <li class="date">
                <span class="label">date</span>
                <span class="desc">{{ page.date | date: "%B, %Y" }}</span>
            </li>
            {% endif %}
        </ul>

        <ul class="technical-information">
            {% if page.color %}
            <li class="color">
                <span class="label">color</span>
                <span class="desc">{{ page.color | join: ", " }}</span>
            </li>
            {% endif %}

            {% if page.size %}
            <li class="size">
                <span class="label">size</span>
                <span class="desc"> <span class="material-size">{{ page.size  | join: ", " }} </span>
                {% if page.amount %} <span class="pageamount">{{ page.amount }}</span> {% endif %}</span>
            </li>
            {% endif %}

            {% if page.frame-rate %}
            <li class="frame-rate">
                <span class="label">frame rate</span>
                <span class="desc">{{ page.frame-rate | join: ", " }}</span>
            </li>
            {% endif %}

            {% if page.duration %}
            <li class="duration">
                <span class="label">duration</span>
                <span class="desc">{{ page.duration  | join: ", " }}</span>
            </li>
            {% endif %}

            {% if page.binding %}
            <li class="binding">
                <span class="label">binding</span>
                <span class="desc">{{ page.binding }}</span>
            </li>
            {% endif %}

            {% if page.tools %}
            <li class="tools">
                <span class="label">tools</span>
                <span class="desc">{{ page.tools | join: ", " }}</span>
            </li>
            {% endif %}
        </ul>

        <ul class="buisness-information">
            {% if page.client %}
            <li class="client">
                <span class="label">client</span>
                <span class="desc">{{ page.client | join: ", " }}</span>
            </li>
            {% endif %}

            {% if page.co-work %}
            <li class="co-work">
                <span class="label">co-work</span>
                <span class="desc">{{ page.co-work | join: ", " }}</span>
            </li>
            {% endif %}

            {% if page.external %}
            <li>
                <span class="label">external links</span>
                <span class="desc"><a href="{{ page.external }}">{{ page.external }}</a></span>
            </li>
            {% endif %}
        </ul>

    </div>

    <div class="masonry grid col-lg-9 col-md-9 --trim-padding">
    {% if page.external contains "vimeo" or page.external contains "youtube" %}
        <div class="grid-item video col-lg-8 col-md-12 col-sm-12 --trim-padding">

            {% if page.external contains "vimeo" %}
            {% assign vimeoid = page.external | split:"/" %}
            <iframe src="{{ vimeoid[0] }}//player.{{ vimeoid[1] }}{{ vimeoid[2] }}/video/{{ vimeoid[3] }}?byline=0&title=0&portrait=0" width="100%" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {% endif %}

            {% if page.external contains "youtube" %}
            {% assign youtubeid = page.external | split:"=" %}
            <iframe width="100%" height="478" src="https://www.youtube.com/embed/{{ youtubeid[1] }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
        </div>
    {% endif %}

    {% if page.features %}

        {% if page.features.size > 5 %}
            {% assign col_size = "col-lg-4 col-md-3 col-sm-6" %}
        {% endif %}

        {% if page.features.size > 3 and page.features.size < 6 %}
            {% assign col_size = "col-lg-6 col-md-6 col-sm-6" %}
        {% endif %}

        {% if page.features.size > 0 and page.features.size < 4 %}
            {% assign col_size = "col-lg-12 col-md-12 col-sm-12" %}
        {% endif %}

        {% for item in page.features %}
        <div class="grid-item image --trim-padding {{ col_size }}">
            <img alt="{{ item }}" src="{{ site.baseurl }}/features/{{ page.date | date: "%Y-%m-%d" }}/{{ item }}" data-image="{{ site.baseurl }}/features/{{ page.date | date: "%Y-%m-%d" }}/{{ item }}"/>
        </div>
        {% endfor %}
    {% endif %}


    </div>

    <script type="text/javascript">
        var $grid = $('.masonry').masonry({
            itemSelector: '.grid-item',
            percentPosition: true,
            columnWidth: ".image"
        });
        $grid.imagesLoaded().progress( function(){
            $grid.masonry('layout');
        });

        $grid.on("click", ".grid-item", function() {
            $(this).toggleClass('col-lg-4');
            $(this).toggleClass('col-lg-12');

            $(this).toggleClass('col-md-3');
            $(this).toggleClass('col-md-12');

            $(this).toggleClass('col-sm-6');
            $(this).toggleClass('col-sm-12');
            $grid.masonry('layout');
        })

    </script>
    </div>
</div>
